src/main/resources/nl/topicus/onderwijs/eck2/v1/Schemas/UWLR_Leerlinggegevens_v1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0"
  targetNamespace="http://www.edustandaard.nl/leerresultaten/1/leerlinggegevens"
  xmlns="http://www.edustandaard.nl/leerresultaten/1/leerlinggegevens"
  xmlns:lg="http://www.edustandaard.nl/leerresultaten/1/leerlinggegevens">
  <!-- ================================================================== -->
  <!--* Schema voor de leerlinggegevens 
    
    SVN: $Id: UWLR_Leerlinggegevens_v1p0.xsd 1233 2012-11-12 13:59:30Z erik $
  -->
  <!-- ================================================================== -->
  <!-- -->
  <xs:element name="leerlinggegevensverzoek">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schooljaar" type="tpSchooljaar"/>
        <xs:group ref="gSchoolIdentificatie"/>
        <xs:element name="xsdversie" type="tpString32"/>
        <xs:element minOccurs="0" name="laatstontvangengegevens" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Indien afwezig moet het LAS altijd de leerlinggegevens sturen</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerlinggegevensantwoord">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="leerlinggegevens"/>
        <xs:element name="geenwijzigingen" type="ctpLeeg">
          <xs:annotation>
            <xs:documentation>Er zijn geen wijzigingen sinds het in het verzoek aangegeven datum/tijd</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="geengegevens" type="ctpLeeg">
          <xs:annotation>
            <xs:documentation>Er zijn bij dit verzoek geen gegevens gevonden</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerlinggegevens">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="school" type="ctpSchool"/>
        <xs:element minOccurs="0" name="groepen">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="groep" type="ctpGroep"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="subgroepen">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="subgroep" type="ctpGroep"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="leerlingen">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="leerling" type="ctpLeerling"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="leerkrachten">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="leerkracht" type="ctpLeerkracht"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="kLeerling">
      <xs:selector xpath="lg:leerlingen/lg:leerling"/>
      <xs:field xpath="@key"/>
    </xs:key>
    <xs:key name="kLeerkracht">
      <xs:selector xpath="lg:leerkrachten/lg:leerkracht"/>
      <xs:field xpath="@key"/>
    </xs:key>
    <xs:key name="kGroep">
      <xs:selector xpath="lg:groepen/lg:groep"/>
      <xs:field xpath="@key"/>
    </xs:key>
    <xs:key name="kSubgroep">
      <xs:selector xpath="lg:subgroepen/lg:subgroep"/>
      <xs:field xpath="@key"/>
    </xs:key>
    <xs:keyref name="krLeerlingGroep" refer="kGroep">
      <xs:selector xpath="lg:leerlingen/lg:leerling/lg:groep"/>
      <xs:field xpath="@key"/>
    </xs:keyref>
    <xs:keyref name="krLeerlingSubgroep" refer="kSubgroep">
      <xs:selector xpath="lg:leerlingen/lg:leerling/lg:subgroepen/lg:groep"/>
      <xs:field xpath="@key"/>
    </xs:keyref>
    <xs:keyref name="krLeerkrachtGroep" refer="kGroep">
      <xs:selector xpath="lg:leerkrachten/lg:leerkracht/lg:groepen/lg:groep"/>
      <xs:field xpath="@key"/>
    </xs:keyref>
    <xs:keyref name="krLeerkrachtSubgroep" refer="kSubgroep">
      <xs:selector xpath="lg:leerkrachten/lg:leerkracht/lg:subgroepen/lg:groep"/>
      <xs:field xpath="@key"/>
    </xs:keyref>
  </xs:element>
  <xs:complexType final="extension" name="ctpGroep">
    <xs:sequence>
      <xs:element name="naam" type="tpString64"/>
      <xs:element minOccurs="0" name="omschrijving" type="tpString128"/>
      <xs:element minOccurs="0" name="kenmerken">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="kenmerk" type="ctpVocabulaireGebondenVeld"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="mutatiedatum" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="key" type="tpKey" use="required"/>
  </xs:complexType>
  <xs:complexType final="extension" name="ctpLeerling">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="achternaam" type="tpAchternaam"/>
          <xs:element minOccurs="0" name="voorvoegsel" type="tpVoorvoegsel"/>
          <xs:element minOccurs="0" name="voorletters-1" type="tpVoorletters-1"/>
          <xs:element minOccurs="0" name="roepnaam" type="tpRoepnaam"/>
        </xs:sequence>
        <xs:element name="roepnaam" type="tpRoepnaam"/>
      </xs:choice>
      <xs:element name="geboortedatum" type="xs:date"/>
      <xs:element minOccurs="0" name="geslacht">
        <xs:simpleType>
          <xs:restriction base="tpGeslacht"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="jaargroep" type="ctpVocabulaireGebondenVeld"/>
      <xs:element minOccurs="0" name="emailadres" type="tpEmailadres"/>
      <xs:element minOccurs="0" name="fotourl" type="tpString256"/>
      <xs:group minOccurs="0" ref="gGroepRef">
        <xs:annotation>
          <xs:documentation>Referentie naar de hoofdgroep voor deze leerling</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element minOccurs="0" name="subgroepen">
        <xs:complexType>
          <xs:group maxOccurs="unbounded" ref="gGroepRef"/>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="mutatiedatum" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="key" type="tpKey" use="required"/>
  </xs:complexType>
  <xs:complexType final="extension" name="ctpLeerkracht">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="achternaam" type="tpAchternaam"/>
          <xs:element minOccurs="0" name="voorvoegsel" type="tpVoorvoegsel"/>
          <xs:element minOccurs="0" name="voorletters-1" type="tpVoorletters-1"/>
          <xs:element minOccurs="0" name="roepnaam" type="tpRoepnaam"/>
        </xs:sequence>
        <xs:element name="roepnaam" type="tpRoepnaam"/>
      </xs:choice>
      <xs:element name="emailadres" type="tpEmailadres" minOccurs="0"/>
      <xs:element default="N" minOccurs="0" name="ictcoordinator" type="tpJaNee"/>
      <xs:element minOccurs="0" name="groepen">
        <xs:complexType>
          <xs:group maxOccurs="unbounded" ref="gGroepRef"/>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="subgroepen">
        <xs:complexType>
          <xs:group maxOccurs="unbounded" ref="gGroepRef"/>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="mutatiedatum" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="key" type="tpKey" use="required"/>
  </xs:complexType>
  <xs:simpleType name="tpAchternaam">
    <xs:annotation>
      <xs:documentation>NEN 1888 Achternaam.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpVoorvoegsel">
    <xs:annotation>
      <xs:documentation>NEN 1888 Voorvoegsel.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpVoorletters-1">
    <xs:annotation>
      <xs:documentation>NEN 1888 Voorletters-1.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpRoepnaam">
    <xs:restriction base="tpString64"/>
  </xs:simpleType>
  <xs:simpleType name="tpEmailadres">
    <xs:restriction base="tpString128"/>
  </xs:simpleType>
  <xs:simpleType name="tpGeslacht">
    <xs:annotation>
      <xs:documentation>1=Mannelijk; 2=Vrouwelijk; 3=Vastgesteld onbekend; 
Definitie volgt het DUO gegegevenswoordenboek</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:minLength value="0"/>
      <xs:maxLength value="1"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpJaNee">
    <xs:restriction base="xs:string">
      <xs:enumeration value="J"/>
      <xs:enumeration value="N"/>
      <xs:whiteSpace value="collapse"/>
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="gGroepRef">
    <xs:sequence>
      <xs:element name="groep">
        <xs:complexType>
          <xs:attribute form="unqualified" name="key" type="tpKey"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="gSchoolIdentificatie">
      <xs:sequence>
        <xs:element name="brincode" type="tpBrinCode" minOccurs="0"/>
        <xs:element default="00" minOccurs="0" name="dependancecode">
          <xs:annotation>
            <xs:documentation>De inhoud 00 is betekent hetzelfde als leeg</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="tpDependanceCode">
              <xs:pattern value="\p{Nd}{2}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      <xs:element name="schoolkey" type="tpString64" minOccurs="0"/>
      </xs:sequence>
  </xs:group>
  <xs:simpleType name="tpSchooljaar">
    <xs:annotation>
      <xs:documentation>Formaat: jaar-jaar, bijvoorbeeld: 2011-2012</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-2]\p{Nd}{3}-[1-2]\p{Nd}{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpString32">
    <xs:annotation>
      <xs:documentation>String met minimale lengte 1 en maximale lengte 32.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpString128">
    <xs:annotation>
      <xs:documentation>String met minimale lengte 1 en maximale lengte 128.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpString64">
    <xs:annotation>
      <xs:documentation>String met minimale lengte 1 en maximale lengte 64.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpString256">
    <xs:annotation>
      <xs:documentation>String met minimale lengte 1 en maximale lengte 256.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ctpVocabulaireGebondenVeld">
    <xs:simpleContent>
      <xs:extension base="tpString256">
        <xs:attributeGroup ref="agVocabulaireBinding"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="tpKey">
    <xs:restriction base="tpString256"> </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="agVocabulaireBinding">
    <xs:attribute name="vocabulaire" type="xs:anyURI"/>
    <xs:attribute form="unqualified" name="vocabulairelocatie" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:simpleType name="tpBrinCode">
    <xs:annotation>
      <xs:documentation>Brincode school. Formaat 99XX

</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\p{Nd}{2}\p{Lu}{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tpDependanceCode">
    <xs:restriction base="tpString32">
      <xs:pattern value="\p{Nd}{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType final="extension" name="ctpSchool">
    <xs:sequence>
      <xs:element name="schooljaar" type="tpSchooljaar"/>
      <xs:group ref="gSchoolIdentificatie"/>
      <xs:element name="aanmaakdatum" type="xs:dateTime"/>
      <xs:element name="xsdversie" type="tpString32">
        <xs:annotation>
          <xs:documentation>Altijd gelijk aan de versie van de XSD waaraan gerefereerd
            wordt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="auteur" type="tpString128"/>
      <xs:element minOccurs="0" name="commentaar" type="tpString128"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ctpLeeg">
    <xs:annotation>
      <xs:documentation>Type om een verplicht leeg element mee aan te duiden</xs:documentation>
    </xs:annotation>
  </xs:complexType>
</xs:schema>
